<p class="ship brandon">We only ship in the United States.</p>
<a class="policy brandon" href="/privacy-policy" target="_blank">Privacy Policy</a> | <a class="policy brandon" href="/rules" target="_blank">Offical Rules</a>