<div class="page-privacy">
  <div class="content-shell brandon">
    <h1>TO OUR VALUED CUSTOMERS:</h1>

    <p>• THE GLOWBIOTICS REFERRAL PROGRAM WILL END ON [DATE]<br />• REFERRALS MAY ONLY BE MADE USING A REFERRING PARTY'S SPECIFIC "[GLOWBIOTICS PRELAUNCHER]" <a href="https://get.glowbiotics.com/">https://get.glowbiotics.com/</a><br />• REFERRING PARTIES WILL NOT BE ABLE TO SEND REFERRALS AFTER 11:59PM (MST) ON 10/04/2016<br />• ANY REFERRALS RECEIVED AFTER 11:59PM (MST) ON 10/04/2016 WILL NOT BE ELIGIBLE FOR REWARDS</p>

    <h2>GLOWBIOTICS® REFERRAL PROGRAM TERMS AND CONDITIONS</h2>
    <p>Effective Date: 09/27/2016</p>

    <h2>1 GENERAL</h2>
    These terms and conditions apply to Glowbiotics's Referral Program ("Program"). By referring a friend, or otherwise participating in the Program, the referring customer and referred friend agree to be bound by these terms and conditions, Glowbiotics's General Terms and Conditions ("Ts&Cs"), and the Glowbiotics Privacy Policy. The Ts&Cs and Privacy Policy are available at <a href="https://get.glowbiotics.com/privacy-policy">Privacy Policy</a>.</p>

    <h2>2 PROGRAM PARTICIPATION</h2>
    The Program is only available online at: <a href="https://get.glowbiotics.com/">https://get.glowbiotics.com/</a>. Internet access is required for participation in the Program. Current Glowbiotics customers who initiate a referral on <a href="https://get.glowbiotics.com/">https://get.glowbiotics.com/</a> are defined as "Referring Parties." Persons who are not existing customers who purchase Glowbiotics products based upon a referral are defined as "Referred Parties." Please allow up to eight (8) weeks after referral validation for referral reward to be applied. Glowbiotics reserves the right to modify, extend or cancel this Program at any time.</p>

    <h2>3 ELIGIBLE REFERRALS</h2>
    All referrals must be completed no later than 10/04/2016. To make referrals, you: 1 Must provide us with a valid email address; 2 Agree that you are bound by our Ts&Cs and Privacy Policy; and 3 Must be an individual person and of the age of majority in the state/province or jurisdiction where you are resident at the time of participation.</p>

    <p>Participation in the Program is prohibited where void by applicable law or regulation. The Program is only available through <a href="https://get.glowbiotics.com/">https://get.glowbiotics.com/</a>. Referred Parties that you invite must [PURCHASE A GLOWBIOTICS PRODUCT] within 90 days of receiving the referral, or no later than 11:159pm (MST) 01/04/2017, whichever comes first. To receive credit for a referral, each Referred Party must [PURCHASE A GLOWBIOTICS PRODUCT] within 90 days of receiving the referral, or by 11:159pm (MST) 01/04/2017, whichever comes first. You agree to let your Referred Parties know that you are the Referring Parties and that you may receive a reward if your Referred Parties [PURCHASES A GLOWBIOTICS PRODUCT]. You will not receive any referral reward if your referrals are rejected or are not received for any reason, or if you fail to comply with any of the terms of the Program.</p>

    <h2>4 INELIGIBLE REFERRALS</h2>
    Unless otherwise noted, the Program will not be available for Referred Parties already referred under the Program and other any users deemed ineligible and you cannot redeem a referral reward for referring yourself (collectively, "Ineligible Referrals"). In addition, Referrals made through non-authorized Glowbiotics sales channels are not eligible for the Program. Glowbiotics reserves the right to void any referral reward based on the following: 1 Ineligibility of any Program participant; 2 Fraudulent or dishonest activity, including the activities described in Section 8 below; or 3 if Glowbiotics, in its sole discretion, finds that you have violated any of the Program Ts&Cs or Glowbiotics Privacy Policy</p>

    <h2>5 REWARD REDEMPTION</h2>
    Referral rewards are personal, non-transferable, non-assignable, and cannot be redeemed or exchanged for cash, credit, or other merchandise. All rewards terminate immediately upon the death of the Referring Party.</p>

    <h2>6 NON-EXCLUSIVE</h2>
    The Program is non-exclusive. You acknowledge and agree that we may, at any time, solicit customer referrals via any method in our sole discretion.</p>

    <h2>7 SKINCARE FOR LIFE REWARDS</h2>
    Subject to the terms and conditions of the Program, Referring Parties eligible for Glowbiotics "Skincare for Life" rewards will receive one free product per month selected by Glowbiotics in its sole and absolute discretion (shipping included), which shall not exceed $100 MSRP, for a period of [__] years or until the Referring Parties' death. Currently, these products are: 1 Probiotic Instant Resurfacing Pads, 2 Probiotic HydraGlow Cream Oil, 3 Probiotic Nourishing Gel to Oil Cleanser, 4 Glowbiotics Anti-Wrinkle Illuminating Eye Cream, 5 Skin Perfection Hydrating Lotion, 6 Probiotic Ultra Rich Brightening Cream, 7 Probiotic Instant Refreshing Gel Hydrator</p>

    <p>These products are subject to change without notice, and are subject to inventory availability. The rewards available under this Section 7 may be amended by Glowbiotics from time to time, in its sole and absolute discretion.</p>


    <h2>8 ADDITIONAL TERMS AND CONDITIONS</h2>
    You are responsible for any and all tax liabilities (including any income tax associated with any awards) associated with the Program.</p>

    <p>This Program is void where prohibited by law.</p>

    <p>We reserve the right to change the terms and conditions of the Glowbiotics Referral Program at any time, without notice, at our sole discretion. We reserve the right to not issue a reward or disqualify someone from the Program if we feel, in our sole discretion, that fraudulent behavior or other unethical conduct has occurred in any way that compromises the fairness the Program in any way. Rewards cannot be combined with other promotions and are not valid for previous offers or orders. Spam, unsolicited commercial email, or any form of illegal means of communication is illegal, prohibited, and will be grounds for termination of participation in this Program. Fraudulent or unethical means of communication such as using bots, fictitious identities, fake emails, or scripts is also prohibited and will result in similar actions by us with respect to terminating your participation in the Program. Glowbiotics services are subject to additional terms, conditions, and other restrictions. See <a href="https://get.glowbiotics.com/">https://get.glowbiotics.com/</a> for details.</p>

    <p>This Program, and all benefits awarded hereunder will terminate immediately upon a sale or transfer of our business, including by sale of ownership or substantially all of our assets, or through any other reorganization or other transaction.</p>

    <p>By participating in this Program, you agree to release and hold us harmless, and our affiliates and subsidiaries, directors, officers, employees, consultants, and agents, and any other entity associated with marketing this Program (collectively, the "Released Parties") from any and all claims or damages arising out of, or in connection with the Program. You further agree that the Program and rewards are provided "as is where is". THERE ARE NO REPRESENTATIONS OR WARRANTIES INCLUDING BUT NOT LIMITED TO STATUTORY WARRANTIES AND CONDITIONS, WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, THIRD PARTIES RIGHTS, AND NON-INFRINGEMENT OF PROPRIETARY RIGHTS. IN NO EVENT WILL EITHER PARTY BE LIABLE TO THE OTHER FOR ANY CONSEQUENTIAL, INCIDENTAL, OR SPECIAL DAMAGES, INCLUDING ANY LOST PROFITS OR LOST SAVINGS, EVEN IF ONE PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, OR FOR ANY CLAIM BY ANY THIRD PARTY. </p>

    <p>Limited time offer. Glowbiotics reserves the right to terminate and/or modify this offer at any time without prior notice.</p>

  </div>
</div>