<h1>Rules and Regulations</h1>

<p> Paul Rules, No Miles Rules and Rules</p>

<img src="<%= image_url("email/tab-website.jpg") %>" alt="Harry's" style="display: block; margin: 0 auto; padding: 0; border: 0;">


<img src="<%= image_url("email/3pack-sampler.jpg") %>" alt="3pack sampler" style="display: block; margin: 0 auto; padding: 0; border: 0;">